<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Samantha's Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="css/standard.css" rel="stylesheet">
  </head>

  <!-- begin nav bar -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://lh3.googleusercontent.com/proxy/auKXckWJmUUiiHqbWuls6Zb4X89QYnd4ZdPNA69_fGezKrTqUxpZsGpdE3oEZ24iccbGOGrqAIkXvU1PcBblQI380LCmVkI3UVhpPBdL0Oe38J2rdwFcRFJaD24cXe890tSEkVhvCg" width="50" height="50" class="d-inline-block align-top" alt="" loading="lazy">
    BlogSpace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

<!-- end nav bar -->

<!-- begin jumbotron -->
  <body>

    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Welcome to Our Blog Post Site!</h1>
        <p class="lead">Check out our blogs!</p>
    </div>

  <!-- end jumbotron -->

  <!-- begin bold display and create a blog -->
    <div class="container">
      <div class="row d-flex justify-content-around">
        <div th:each="item:${posts}">
          <div class="col-md-6 p-0 mb-3" style="min-width: 0px">
	        <h4 class="card-header" th:text="${blog.title}"/></h4>
	      <div class="card-body">
          <p class="card-text" th:text="${blog.blogEntry}" /></p>
		<p class="card-text" th:text="${blog.author}"/></p>
         </div>
        </div>
         <div class= "card-footer">
          <div class="form-group">
            <input type="hidden" name="_method" value="delete"/>
          <form action="#" th:action="@{'/blogposts/{id}'(id=${blog.id})}" th:method="delete"
          class="form-horizontal">
            <button type="submit" class="btn btn-danger btn-block" th:text="Delete">Delete</button>
          </div>
        </form>
         </div>
	      </div>
	    </div>
	  </div>

      <a th:href="@{/blogpost/new}">
	<button class= "btn btn-primary">Create a New Blog Post</button>
      </a>
    </div>
<!-- end blog entries and create a blog -->




<!-- begin Jquery script-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<!-- end jQuery script -->

</body>
</html>